body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 1em;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 2em;
}

section {
  margin-bottom: 2em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 400px;
}

input, textarea {
  padding: 0.5em;
  border: 1px solid #ccc;
}

button {
  background-color: #333;
  color: #fff;
  padding: 0.5em;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1em;
}

/* ----------- RESPONSIVE ----------- */
@media screen and (max-width: 768px) {
  body {
    background-color: aqua;
  }
  
    nav ul {
    flex-direction: column;
    gap: 0.5em;
  }

  main {
    padding: 1em;
  }

  form {
    width: 100%;
  }

  input, textarea {
    width: 100%;
  }

  header, footer {
    text-align: center;
  }
}

.profile-card {
  background-color: #fff;
  padding: 2em;
  max-width: 300px;
  margin: 2em auto;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1em;
}

.profile-card h2 {
  margin: 0.3em 0;
  color: #333;
}

.rol {
  font-weight: bold;
  color: #666;
}

.ubicacion,
.email {
  font-size: 0.9em;
  color: #888;
}
